.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.4rem;
    padding: 1rem;
}
.main>h2{
    color:var(--main-color)
}
.profile{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;

    border: 0.2rem solid var(--main-color);
    box-shadow: 0.4rem 0.8rem 1rem rgba(var(--black-hint-num),0.4);
    
}
.header{
    display: flex;
    justify-content: space-between;
    
}
.header>h2{
    color: var(--main-color);
}
.header>button{
    border-style: none;
    padding:0.6rem;
    background-color: transparent;
    border-radius: 10rem;
}
.header>button:hover{
    background-color: rgba(var(--black-hint-num),0.4);
}
.img_holder{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: none;
    background-color: transparent;
}
.img_holder>h5{
    padding-top: 1rem;
    color: var(--black-hint);
}

.img_wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file_I{
    display: none;
}
.field{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}
.field>p,.field>input, .field>h4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.field>p,.field>input{
    padding-left: 2rem;
    padding-right: 2rem;
}

.action{
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 1rem;
}
.action>button{
    padding: 1rem 2rem;
    background-color: var(--main-color);
    border-style: none;
    border-radius: 0.4rem;
}
.action>button>h5{
    color:var(--white)
}
.back{
    width: 100%;
    display: flex;
    padding-bottom: 1rem;
    
}
.back>button{
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-style: none;
    background-color: transparent;
    border-radius: 3rem;
}
.back>button:hover{
    background-color: rgba(var(--black-hint-num),0.4);
}
@media (min-width:768px){
    .back{
        display: none;
    }
}
