
.navbar_inner{
  flex-grow: 1;
  background-color: var(--black-hint);
  display: flex;
  justify-content: space-around;
  border-radius: 0.5rem;
}
.navItem{
    display: flex;
    column-gap: 1rem;
    background-color: transparent;
    border-style: none;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    border-radius: 2rem;
    -webkit-tap-highlight-color: transparent;
}
.navItem:active{
  border-radius: 4rem;
  background-color: rgba(var(--main-color-num),0.2);
}


.navText{
    display: none;
    text-decoration: none;
    color: inherit;
}
.icon{
    color: inherit;
    height: 2rem;
}

.selected *{
  color: var(--main-color);
}
@media (min-width: 768px) {
  .icon{
    height: 1.5rem;
  }
  .navItem{
    column-gap: 0.5rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .navItem:hover{
    background-color: rgba(var(--black-hint-num),0.2);
    border-radius: 0;
    transition: background-color 0.25s ease-out;
    
  }
  .navbar{
    max-width: 768px;

  }
  .navText{
    display: block;
  }
}