.main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    align-items: center;
    padding: 0.8rem;
    height: 100%;
    row-gap: 1rem;
}
.ds_wrapper{
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: rgba(var(--main-color-num),0.9);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    color: var(--white);
}
.button_wrapper{
    display: flex;
    justify-content: center;
}
.button_wrapper>button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    border-style: none;
    background-color: white;
    border-radius: 2rem;
}
.other_wrp{
    display: flex;
    justify-items: start;
    width: 100%;
}
.other_wrp>*{
    color: var(--black-hint);
}
.items_wrp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-style: none;
    background-color: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding: 0.5rem;
}
.item:hover{
    transition: box-shadow 0.3s ease-in;
    border-radius: 0.8rem;
    box-shadow: -0.3rem 0.4rem 0.4rem rgba(var(--black-hint-num), 0.08),
    -0.3rem 0.8rem 1.5rem rgba(var(--black-hint-num), 0.12)
    ;
}
.item_text{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.item_btn{
    display: flex;
    align-items: center;
}
.item_inner_btn{
    display: flex;
    align-items: center;
    border-style: none;
    background-color: transparent;
    color: var(--black-hint)
}
.item_inner_symbol{
    color: var(--main-color);
    height: 2rem;
    width: 2rem;
}

