.main{

    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    align-items: center;
    padding: 0.8rem;
    height: 100%;
    row-gap: 1rem;
}
.leadText{
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnactionGroup{
    display: flex;
    column-gap: 0.8rem;
}

.btnaction{
    border-style: none;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 4rem;
    width: 2rem;
    height: 2rem;

}
.itemaction{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnaction:hover{
    border-radius: 4rem;
    background-color: rgba(var(--black-hint-num), 0.2);
}
.edit{
    color: var(--main-color);
    height: var(--h3);
    width: var(--h3);

}
.items{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}
.dm{
    position: absolute;
    bottom: 3rem;
    color:var(--black-hint);
    background-color: rgba(var(--black-hint-num),0.2);
    padding: 1rem 2rem;
    border-radius: 0.4rem;
}
.progprofile{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.switch{
    position: absolute;
    right: 2rem;
    padding: 0.4rem 0.8rem;
    background-color: var(--main-color);
    color: var(--white);
    border-style: none;
    border-radius: 0.4rem;
}
.loadingProgressItems{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}