.main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    align-items: center;
    height: 100%;
    justify-content: start;
}
.qna_appbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    padding: 0.5rem;

}
.questWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.backAbs{
    display: flex;
    align-items: center;
    background-color: var(--white-dim);
    border-radius: 50%;
    border-style: none;
    padding: 0.5rem;
}
.backbtn{
    height: 1.55rem;
    width: 1.55rem;
    color: var(--black-hint)
}

@media (min-width: 768px) {
    .backAbs{
        display: none;
    }
    .qna_appbar{
        justify-content: center;
    }
    .question{
        width: 700px;
    }
}
.question{
    width: 350px;
    min-width: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.qnaBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer{
    position: relative;
    bottom: -20px;
    height: 60px;
    width: 60px;
    clip-path: circle(50% at 50% 50%);
    background-color: rgba(var(--black-hint-num),0.2);
    display: flex;
    justify-content: center;
    align-items: center;

}

.timerNumber{
    position: absolute;
    z-index: 3;
    background-color: var(--white);
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.progress_color{
    width: 100%;
    height: 100%;
    background: conic-gradient(
    red 0deg 180deg,   /* first half */
    blue 180deg 360deg /* second half */
  );
}
.qtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.qimg{
    max-width: 700px;
    max-height: 200px;
}
.ans_group{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: start;
    row-gap: 1rem;
    width: 100%;
}
.ans_group>p{
    color: rgba(var(--black-hint-num),1);
    padding-bottom: 1rem;
}

.popup_wrapper{
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    bottom: 4rem;
    width: 100%;
}
.popup{
    height: 4rem;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.popup_left{
    flex-grow: 1;
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}
.popup_num{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 2rem;
}
.popup_text{
    flex-grow: 1;
}
.popup_right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    border-style: none;
    background-color: var(--white);
    border-radius: 2rem;
    height: 100%;
}

