.loading{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.4rem;
    color: var(--main-color);
}

.main{
display: flex;
flex-direction: column;
padding: 0.8rem;
}
.header{
    display: flex;
    padding: 0rem 0rem 1rem 0rem;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}
.back{
    position: absolute;
    left: 1rem;

}
.backbtn{
    padding: 0.5rem;
    border-radius: 3rem;
    border-style: none;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color ease-in 0.2s;
}
.backbtn:hover{
    background-color: rgba(var(--black-hint-num),0.2);
}
.body{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}
.title{
    box-shadow: -0.3rem 0.4rem 0.4rem rgba(var(--black-hint-num), 0.08),
    -0.3rem 0.3rem 1.5rem rgba(var(--black-hint-num), 0.25)
    ;
    padding: 0.8rem;
    border-radius: 0.4rem;
}
.title>h3{
    color:var(--main-color)
}
.requirements{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 0.8rem;
}
.reqlist{
    position: relative;
    left: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.transcard{
    position: relative;
    /* border-top: 0.2rem solid var(--black-hint); */
    display: flex;
    flex-direction: column;
    /* box-shadow: -0.3rem 0.4rem 0.4rem rgba(var(--black-hint-num), 0.08),
    -0.3rem 0.3rem 1.5rem rgba(var(--black-hint-num), 0.25)
    ; */
    padding: 0.8rem;
    /* border-radius: 0.3rem; */

}
.transcard>h3{
    /* color: var(--white); */
    text-decoration: underline 0.2rem solid var(--main-color);
}
.transcard>h4{
    /* color: var(--white-bg); */
}
.transcard::after{
    content: "";
  position: absolute;
    left: -1.5rem;
    top: 2.4rem;
  width: 3rem;
  height: 0.3rem;
  background: var(--black-hint); 
  transform: rotate(90deg);
  border-radius: 0.1rem;
}
.transall{
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
}
.transitioning h3{
    color: var(--main-color);
}
.transitioning{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    padding: 0.8rem 0.4rem;
}
.fit, .notfit, .rec{
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 0.4rem;

}
.rec::after{
    content: "";
  position: absolute;
    left: -1.5rem;
    top: 0.8rem;
  width: 1.8rem;
  height: 0.2rem;
  background: var(--black-hint); 
  transform: rotate(90deg);
  border-radius: 0.4rem;
}
.fit::after{
    content: "";
  position: absolute;
    left: -1.5rem;
    top: 0.8rem;
  width: 1.8rem;
  height: 0.2rem;
  background: rgb(0, 100, 0); 
  transform: rotate(90deg);
  border-radius: 0.4rem;
}
.notfit::after{
    content: "";
  position: absolute;
    left: -1.5rem;
    top: 0.8rem;
  width: 1.8rem;
  height: 0.2rem;
  background: rgba(220, 38, 38, 0.9); 
  transform: rotate(90deg);
  border-radius: 0.4rem;
}

.fitlist, .notfitlist, .reclist{
    position: relative;
    left: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}
.rowtext{
    display: flex;
}
.seamless {
  text-decoration: underline 0.1rem solid rgba(34, 197, 94, 0.8);
}

.easy {
  text-decoration: underline 0.1rem solid rgba(74, 222, 128, 0.8);
}

.medium {
  text-decoration: underline 0.1rem solid rgba(250, 204, 21, 0.9);
}

.hard {
  text-decoration: underline 0.1rem solid rgba(250, 172, 15, 0.8);
}

.veryHard {
  text-decoration: underline 0.1rem solid rgba(220, 38, 38, 0.9);
}

