
/* for generic fast styling class like padding */

.main{
    height: 100%;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 768px; */
}
#root{
    display: flex;
    justify-content: center;
}
.app::-webkit-scrollbar{
    display: none;
}
.app{
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    max-width: 768px;
}

.header{
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;
}
.body{
    flex-grow: 1;
}
.navbar_padding{
    height: 5rem;
    
}
.navbar{
    width: 100%;
    position: sticky;
    padding: 1.5rem;
    bottom: 0rem;
}
.navbar_pc{
    display: none;
}
.navbar *{
    color: var(--white)
}

@media (min-width: 768px) {
  .navbar{
    display: none;
  }
  .navbar_pc>div{
    background-color: transparent;
  }
  .navbar_pc{
    display: block;
    flex-grow: 1;
}
.header{
    column-gap: 2rem;
    border-bottom: 0.2rem solid var(--main-color);
    background-color: white;
  }
.header *{
    color: var(--black)
}
.header h2{
    font-size: 1rem;
}
}