
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html{
  font-size: 14px !important;
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, html, #root{
  width:100%;
  height: 100%;
  min-height: 0;
  min-width: 0;
}

/* 24px bold opensans*/
h1{
  font-size: 1.71rem;
  font-family: "Open Sans", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* 20px bold opensans*/
h2{
  font-size: 1.42rem;
  font-family: "Open Sans", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* 18px medium opensans*/
h3{
  font-size: 1.28rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* 16px regular roboto*/
h4{
  font-size: 1.14rem;
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h5{
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h6{
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* 14px regular roboto */
p{
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
:root{
  --h1:1.71rem;
  --h2:1.42rem;
  --h3:1.28rem;
  --h4:1.14rem;
  --p:1rem;
  --main-color-num: 242, 133, 0;
  --main-color: rgb(var(--main-color-num));

  --main-bright-num: 237,140,36;
  --main-bright: rgb(var(--main-bright-num));

  --black-num: 10,10,10;
  --black: rgb(var(--black-num));

  --black-hint-num: 95,95,95;
  --black-hint:rgb(var(--black-hint-num));

  --white-num: 255,255,255;
  --white:rgb(var(--white-num));

  --white-bg-num: 244,244,244;
  --white-bg:rgb(var(--white-bg-num));

  --white-dim-num: 235,235,235;
  --white-dim: rgb(var(--white-dim-num));

  --brown-num: 67,40,28;
  --brown: rgb(var(--brown-num));
}

/* Preset class */
.orange{
  color: var(--main-color)
}
.white{
  color: var(--white)
}
.orange-bd{
  border: 1px solid var(--main-color);
}

body{
  background-color: rgb(var(--white-bg-num));
}
.main{
  display: flex;
  flex-direction: column;
  max-width: 768px;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.main::-webkit-scrollbar{
  width: none;
}
.w-full{
  width: 100%;
}
.none{
  display: none;
}
@media (min-width: 768px) {
    .none{
      display: block;
    }
}
.block{
  display: block;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #eee;      /* background ring */
  border-top: 5px solid var(--main-color); /* active spinning part */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* -----test------- */

.topAd {
  display: flex;
  width: 100%;
  position: relative;
  top: 0;
  justify-content: center; /* optional, center the ad */
  z-index: 10; /* make sure it’s above content */
}
button:hover{
  cursor: pointer;
}

.pattern{
  background-size: auto;   
  background-repeat: repeat;       
  width: 100%;
  height: 100vh; 
  opacity: 0.08;
  background-size: 256px;
  /* position: absolute; */
  z-index: -1;
  background-color: orange; /* base color */
  background-blend-mode: screen; 
}
.absFull{
  position: absolute;
  width: 100%;
  height: 100%;
}